

.error {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    padding-top: 20vh;
    margin: 5%;
    overflow-y: hidden !important;

}

body {
    font-size: 15px;
    margin-top: 10vh;
    background-color: white;
}

h1, h2, h3, h4, h5, a, p, pre, code, ul, li, .summary {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.spacer {
    width: 100vw;
    height: 40px;
    background-color: #221f1f;
}

.spacer-black {
    width: 100vw;
    height: 40px;
    background-color: black;
}

.spacer-transparent {
    width: 100vw;
    height: 40px;
    background-color: transparent;
}

.spacer-footer {
    width: 100vw;
    margin-top: 60%;
    bottom: 0;
    background-color: transparent;
}

.blog-feature-text {
    width: 100px;
    height: 100px;
    background: red;
    overflow: hidden;
}

.test-text {
    
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 25%;
    background: green;
}

.hero-image {
    width: 60px;
}

.new {
    margin-top: 10vh !important;
    padding-right: 30vw;
    padding-left: 30vw;
    padding-top: 10vh;
    padding-bottom: 3vh;
    text-align: center;
    color: var(--tw-white);
}

.body-blog {
    height: 100vh;
    width: 100vw;
    color: var(--tw-white);
    background-color: #221f1f;
    overflow-x: hidden;
    background-size: cover
}

.body-blog-post {
    height: 100vh;
    width: 100vw;
    color: var(--tw-white);
    background-color: white;
    overflow-x: hidden;
    background-size: cover
}

.blog-section-heading {
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 100%;
    padding-left: 2em!important;
    background-color: #221f1f;
    color: white;
}

.blog-post-carousel-container {
    width: 100%;
    background-color: #221f1f;
    bottom: -100px;
   
}

.new h1 {
    font-size: 50px;
    animation: fadeIn ease 2;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.new p {
    font-size: 18px;
    position: relative;
    padding-top: 10px;
    animation: fadeIn ease 4;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

@media (max-width: 800px) {
    .new p {
        margin-top: 0vh;
        margin-left: -30vw;
        margin-right: -30vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .new h1 {
        margin-top: -10vh;
        margin-left: -30vw;
        margin-right: -30vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

.new-image {
    background-color: black;
    margin-top: -60vh;
    margin-left: 0vw;
    margin-right: 2vw;
    overflow: hidden;
    width: 100vw;
}

.new-wrapper {
    background-color: black;
    height: 100vh;
    margin-top: -10vh;
    overflow-y: hidden;
}

.test img {
    padding-bottom: 0vh;
    margin-top: 12vh;
    margin-left: 10vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    height: 44.25vh;
    width: 44.25vh;
    max-width: 600px;
    overflow: hidden !important;
    animation: fadeIn ease 6;
    -webkit-animation: fadeIn ease 6s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
}

.column {
    float: left;
    display: flex;
    justify-content: center;
    width: 30%;
    padding-top: 2%;
}

.bluee {
    float: left;
    display: flex;
    justify-content: center;
    width: 30%;
    padding-top: 2%;
}

@media (max-width: 900px) {
    .bluee img {
        display: none;
    }
}

@media (max-width: 900px) {
    .column img {
        height: 44.25vh;
        width: 44.25vh;
        margin-top: 15vh;
        overflow: hidden;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.header-intro {
    position: fixed;
    z-index: 1 !important;
    /* background-color: #221f1f; */
    top: 0;
    width: 100%;
    height: 50px;
    padding-right: 5vw;
    padding-left: 5vw;
    background: black;
    /* background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px); */
}

.header-intro-2 {
    position: fixed;
    z-index: 1;
    background-color: black;
    top: 0;
    width: 100%;
    height: 50px;
    padding-right: 5vw;
    padding-left: 5vw;
}

.header-intro-white {
    position: fixed;
    z-index: 1;
    background-color: white;
    top: 0;
    width: 100%;
    height: 50px;
    padding-right: 5vw;
    padding-left: 5vw;
}

.footer-blog-post {
    background-color: black;
    position: absolute;
    bottom:-10;
    width:100%;
    height:80px; 
    padding-top: 1em;
    color: white;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-intro {
    background-color: transparent;
    position: fixed;
    bottom:0;
    width:100%;
    height:80px; 
    padding-top: 1em;
    color: white;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-error {
    background-color: #221f1f;
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;
    color: white;
}

.footer-blog-post:before {
    margin-top: 300px !important;
    padding-top: 200px !important;
}

.footerlink {
    color: var(--tw-white);
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    }

.header-blog {
    position: fixed;
    z-index: 1;
    background-color: #221f1f;
    top: 0;
    width: 100%;
    height: 50px;
    padding-right: 5vw;
    padding-left: 5vw;
}

.introlink {
    color: white;
    margin-top: 10px;
    margin-left: 1em;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    float: right !important;
    }

  .introlink:hover {
        color: red;
    }

    .introlink-2 {
        color: var(--tw-black);
        margin-top: 10px;
        margin-left: 1em;
        font-size: 12px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 15px;
        float: right !important;
        }

    /* @media screen and (max-width: 767px) {
        .introlink {
        font-size: 60%;
        }
      }

.introlink:hover {
    color: var(--tw-blue);
    text-decoration: none;
    transition: transform 300ms;
} */

.sitenav-link {
    color: var(--tw-blue);
}

.btn-grad {background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    color: white;
}
.btn-grad:hover{ 
    background-position: right center; 
    color: white !important;

}
.btn-grad-c {
    background-color: #221f1f;
    float: right;
    justify-content: center;
    display: block;
    margin-bottom: -15em;
    padding-bottom: -10em;

    margin-right: -4.4em;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border-radius: 4px;
    width: 20%;
}
.btn-grad-c:hover{ 
    background-position: right center; 
    color: white !important;

}

a.btn-grad-c {
    color: red;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--tw-white);
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: var(--tw-gray);
}

.bs-callout-default h4 {
    color: var(--tw-gray);
}

.bs-callout-primary {
    border-left-color: var(--tw-blue);
}

.bs-callout-primary h4 {
    color: var(--tw-blue);
}

.bs-callout-success {
    border-left-color: var(--light-green);
}

.bs-callout-success h4 {
    color: var(--light-green);
}

.bs-callout-danger {
    border-left-color: var(--tw-red);
}

.bs-callout-danger h4 {
    color: var(--tw-red);
}

.bs-callout-warning {
    border-left-color: var(--tw-warning);
}

.bs-callout-warning h4 {
    color: var(--tw-warning);
}

.bs-callout-info {
    border-left-color: var(--tw-light-blue);
}

.bs-callout-info h4 {
    color: var(--tw-light-blue);
}


.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}





.breadcrumb>.active {
    color: var(--tw-gray) !important;
}

/* make room for the nav bar */
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id] {
    padding-top: px;
    margin-top: px;
}

.post-content img {
    margin: 12px 0px 3px 0px;
    width: 80%;
    height: auto;
    max-width: 80%;
    ;
}

.post-header {
    margin-left: 0em;
}

.post-content {
    margin-left: 0em;
}

.post-content ol li,
.post-content ul li {
    margin: 10px 0px;
}

.pageSummary {
    font-size: 13px;
    display: block;
    margin-bottom: 15px;
    padding-left: 20px;
}

.post-summary {
    margin-bottom: 12px;
}

.bs-example {
    margin: 20px;
}

.breadcrumb li {
    color: gray;
}

table {
    background-color: transparent;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--tw-dark-gray);
    text-align: left;
}

th {
    text-align: left;
}

table {
    max-width: 90%;
    margin-bottom: 20px;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

table>thead>tr>th {
    vertical-align: bottom;
    text-transform: none;
    background-color: var(--tw-dark-gray);
    color: var(--tw-white);
    text-align: left;
}

table>caption+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>th,
table>thead:first-child>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: var(--tw-light-gray);
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

table tr td {
    hyphens: auto;
}


p.external a {
    text-align: right;
    font-size: 12px;
    color: var(--tw-blue);
    display: inline;
}

a {
    color: var(--tw-blue);
}

#definition-box-container div a.active {
    font-weight: bold;
}

p.post-meta {
    font-size: 80%;
    color: var(--tw-light-gray);
}

.entry-date {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    margin-bottom: 0;
    text-transform: uppercase;
}

/* search area */

#search-demo-container ul#results-container {
    list-style: none;
    font-size: 12px;
    background-color: white;
    position: fixed;
    top: 20px;
    /* if you change anything about the nav, you'll prob. need to reset the top and left values here.*/
    left: 80px;
    width: 223px;
    border-left: 1px solid var(--tw-black);
}


ul#results-container a {
    background-color: transparent;
}

ul#results-container a:hover {
    color: black;
}


#search-demo-container a:hover {
    color: black;
}

#search-input {
    padding: .5em;
    margin-left: 20px;
    width: 20em;
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
}

/* end search */

.filter-options {
    margin-bottom: 20px;
}

.filter-options button {
    margin: 3px;
}

div#toc ul li {
    margin: 8px 0px 8px 22px;
    font-size: 90%;
    list-style: square;
    background-color: transparent;
}

#toc a {
    color: var(--tw-white);
    background-color: transparent;

}

div#toc ul {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
    color: var(--tw-white);
}

div#toc ul li ul {
    padding-left: 8px;
    background-color: transparent;

}

div#toc ul li ul li::before {
    content: "–  ";
}

div#toc>ul::before {
    content: "Contents";
    font-weight: 500;
    color: var(--tw-white);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

li.dropdownActive a {
    font-weight: bold;
}


.post-content a.fa-rss {
    color: var(--tw-blue);
}


.navbar-inverse .navbar-nav>li>a {
    background-color: transparent;
    margin-top: 10px;
}

.post-content .rssfeedLink {
    color: var(--tw-blue);
    ;
}

footer {
    font-size: smaller;
    text-align: center;
}

/* FAQ page */
#accordion .panel-heading {
    font-size: 12px;
}

a.accordion-toggle,
a.accordion-collapsed {
    font-size: 14px;
    text-decoration: none;
}


.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    border-radius: 0px;
    background-color: transparent !important;
    color: var(--tw-blue);
    border-bottom: 3px solid var(--tw-blue);
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    border-radius: 5px;
}

span.projectTitle {
    font-family: Helvetica;
    font-weight: bold;
}

.footer {
    text-align: right;
    position: relative;

}

.footer-2 {
    text-align: center;
    position: relative;

}


.footerMeta {
    background-color: whitesmoke];
    padding: 10px;
    max-width: 250px;
    border-radius: 5px;
    margin-top: 50px;
    font-style: italic;
    font-size: 12px;
}

img.screenshotSmall {
    max-width: 300px;
}


dl dt p {
    margin-left: 20px;
}


dl dd {
    margin-top: 10px;
    margin-bottom: 10px;
}

dl.dl-horizontal dd {
    padding-top: 20px;
}

figcaption {

    padding-bottom: 12px;
    padding-top: 6px;
    max-width: 90%;
    margin-bottom: 20px;
    font-style: italic;
    color: gray;

}

.testing {
    color: orange;
}

.preference {
    color: red;
}


table.dataTable thead {
    background-color: #444;
}

table td {
    hyphens: auto;
}

section table tr.success {
    background-color: #dff0d8 !important;
}

table tr.info {
    background-color: #d9edf7 !important;
}

section table tr.warning,
table tr.testing,
table tr.testing>td.sorting_1 {
    background-color: #fcf8e3 !important;
}

section table tr.danger,
table tr.preference,
table tr.preference>td.sorting_1 {
    background-color: #f2dede !important;
}

.orange {
    color: orange;
}

table.profile thead tr th {
    background-color: black;
}

table.request thead tr th {
    background-color: #ED1951;
}

.audienceLabel {
    margin: 10px;
    float: right;
    border: 1px solid #dedede;
    padding: 7px;
}

.prefaceAudienceLabel {
    color: gray;
    text-align: center;
    margin: 5px;
}

span.myLabel {
    padding-left: 10px;
    padding-right: 10px;
}

a.dropdown-toggle,
.navbar-inverse .navbar-nav>li>a {
    margin-left: 10px;
}

hr.faded {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.shaded {
    height: 12px;
    border: 0;
    margin-top: 70px;
    background: white;
    width: 100%;
    margin-bottom: 10px;
}

.navlogo {
    position: absolute;
    top: 0;
    height: 55%;
    bottom: 0;
    margin: auto;
}

.fa-6x {
    font-size: 900%
}

;

.fa-7x {
    font-size: 1100%;
}

.fa-8x {
    font-size: 1300%;
}

.fa-9x {
    font-size: 1500%;
}

.fa-10x {
    font-size: 1700%;
}

i.border {
    padding: 10px 20px;
    background-color: whitesmoke;
}

a[data-toggle] {
    color: black;
}

.summary {
    font-size: 120%;
    color: #808080;
    margin: 20px 0px 20px 0px;
    border-left: 5px solid #ED1951;
    padding-left: 10px;

}

.summary:before {
    content: "Summary: ";
    font-weight: bold;
}


a.fa.fa-envelope-o.mailto {
    font-weight: 600;
}

h3 {
    color: #ED1951;
    font-weight: normal;
    font-size: 130%;
}

h4 {
    color: #808080;
    font-weight: normal;
    font-size: 120%;
}

.alert,
.callout {
    overflow: hidden;
}

ol li ol li {
    list-style-type: lower-alpha;
}

ol li ul li {
    list-style-type: disc;
}

li img {
    clear: both;
}

div#toc ul li ul li {
    list-style-type: none;
    margin: 5px 0px 0px 0px;
}

.tab-content {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--tw-white);
    box-shadow: 3px 3px 3px var(--tw-white);
    border-radius: 0px 0px 8px 8px;
}

.tab-content-heading {
    color: var(--tw-white);
    font-weight: normal;
    font-size: 120%;
}


span.tagTitle {
    font-weight: 500;
}

li.activeSeries {
    font-weight: bold;
}

.seriesContext .dropdown-menu li.active {
    font-weight: bold;
    margin-left: 43px;
    font-size: 18px;
}

.alert-warning {
    color: #444;
}

.new-note {
    font-size: 80%;
    display: block;
    color: var(--tw-black);
    background-color: var(--tw-light-blue);
    overflow-x: hidden;
    word-wrap: break-word;
    border-radius: 5px;
    border-left: 4px solid var(--tw-dark-blue);
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.social-media {
    display: block;
    color: var(--tw-blue);
    border-radius: 5px;
}

div.alert code,
h2 code {
    background-color: transparent !important;
}

/* without this, the links in these notes aren't visible.*/
.alert a {
    text-decoration: underline;
}

div.tags {
    padding: 10px 5px;
}

.tabLabel {
    font-weight: normal;
}

hr {
    background: #221f1f;
    margin: 30px 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 24px;
    line-height: 29px;
}

span.otherProgrammingLanguages {
    font-style: normal;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.seriesNext,
.seriesContext {
    margin-top: 15px;
    margin-bottom: 15px;
}

.seriescontext ol li {
    list-style-type: upper-roman;
}

ol.series li {
    list-style-type: decimal;
    margin-left: 40px;
    padding-left: 0px;
}

.siteTagline {
    font-size: 200%;
    font-weight: bold;
    color: silver;
    font-family: monospace;
    text-align: center;
    line-height: 10px;
    margin: 20px 0px;
    display: block;
}

.versionTagline {
    text-align: center;
    margin-bottom: 20px;
    font-family: courier;
    color: silver;
    color: #444;
    display: block;
}

#mysidebar .nav ul {
    background-color: #FAFAFA;
}

.nav ul.series li {
    list-style: decimal;
    font-size: 12px;
}

.nav ul.series li a:hover {
    background-color: gray;
}

.nav ul.series {
    padding-left: 30px;
}

.nav ul.series {
    background-color: #FAFAFA;
}

/*
a.dropdown-toggle.otherProgLangs {
    color: #f7e68f !important;
}
*/

span.muted {
    color: #666;
}

table code {
    background-color: transparent;
}

.highlight .err {
    color: #a61717;
    background-color: transparent !important;
}

table p {
    margin-top: 12px;
    margin-bottom: 12px;
}

pre,
table code {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

pre {
    
    background-color: rgba(0, 0, 0, 0.8) !important;
    border: 0px !important;
    color: white;
    margin-bottom: 1em;
    margin-top: 1em;
   
}

.container {
    margin-left: 5em;
    padding-left: 0px;
}

@media (max-width: 767px) {
.container {
    margin-left: 0em;
    padding-left: 2em;
    padding-top: 0em;
    padding-right: 2em;
    padding-bottom: 1em;
    max-width: 100vw;

}
}

#json-box-container pre {
    margin: 0px;
}

.video-js {
    margin: 30px 0px;
}

video {
    display: block;
    margin: 30px 0px;
    border: 1px solid #c0c0c0;
}


p.required,
p.dataType {
    display: block;
    color: #c0c0c0;
    font-size: 80%;
    margin-left: 4px;
}

dd {
    margin-left: 20px;
}

.post-content img.inline {
    margin: 0px;
    margin-bottom: 6px;
}

.panel-heading {
    font-weight: bold;
}

.note code,
.alert code,
.warning code,
div#toc code,
h2 code,
h3 code,
h4 code {
    padding: 0px;
}

.alert {
    margin-bottom: 10px;
    margin-top: 10px;
}

a.accordion-toggle {
    font-style: normal;
}

span.red {
    color: red;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

h3.codeExplanation {
    font-size: 18px;
    font-style: normal;
    color: black;
    line-height: 24px;
}

span.soft {
    color: #c0c0c0;
}

.githubEditButton {
    margin-bottom: 7px;
}

.endpoint {
    padding: 15px;
    background-color: #f0f0f0;
    font-family: courier;
    font-size: 110%;
    margin: 20px 0px;
    color: #444;
}

.parameter {
    font-family: courier;
    color: red !important;
}

.formBoundary {
    border: 1px solid gray;
    padding: 15px;
    margin: 15px 0px;
    background-color: whitesmoke;
}

/*
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #444;
    }
}

*/

@media (max-width: 990px) {
    #mysidebar {
        position: relative !important;
    }

    a img {
        max-width: 20%;
    }
}

@media (min-width: 1000px) {

    ul#mysidebar {
        width: 225px;
    }

    a img {
        max-width: 20%;
    }
}

@media (max-width: 900px) {

    ul#mysidebar {
        max-width: 100%;
    }

    a img {
        max-width: 20%;
    }
}

.col-md-9 img {
    max-width: 100%;
    max-height: 100%;
}


.post-content img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.col-md-9 img {
    max-width: 100%;
    max-height: 100%;
}


.post-content img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.videoThumbs img {
    float: left;
    margin: 15px 15px 15px 0px;
    border: 1px solid #dedede;
}


@media only screen and (min-width: 900px),
only screen and (min-device-width: 900px) {
    .col-md-9 img {
        max-width: ;
        max-height: 700px;
    }

    a img {
        max-width: 20%;
    }
}

img {
    max-width: 35%;
}

*:hover>.anchorjs-link {
    transition: color .25s linear;
    text-decoration: none;
}

.kbCaption {
    color: white;
    background-color: #444;
    padding: 10px;
}

/* this part adds an icon after external links, using FontAwesome*/
a[href^="https://"]:after {
    content: "\f08e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
}

/* Strip the outbound icon when this class is present */
a[href].noCrossRef::after,
a.no_icon:after {
    content: "" !important;
    padding-left: 0;
}

.btn-default {
    margin-bottom: 10px;
}

/* algolia search */

.search {
    text-align: left;
}

.search input {
    font-size: 20px;
    width: 300px;
}

.results {
    margin: auto;
    text-align: left;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

/* algolia */

div.results {
    position: absolute;
    background-color: white;
    width: 100%;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-link {
    font-size: 22px;
}

.post-list p {
    margin: 10px 0px;
}

time {
    margin-right: 10px;
}

p.post-meta time {
    margin-right: 0px;
}

span.label.label-default {
    background-color: var(--tw-blue);
}

span.label.label-primary {
    background-color: #f0ad4e;
}

.col-lg-12 .nav li a {
    background-color: white
}


.nav li.active>a.subfoldersTitle {
    background-color: whitesmoke;
    font-weight: bold;
    color: black;
}

a code {
    color: black;
}

code+a>code {
    margin-left: -7px;
}

table th code {
    color: white;
}

ol li ul li ol li {
    list-style: decimal;
}

ol li ul li ol li ul li {
    list-style: disc;
}

.post-content table th {
    vertical-align: top;
}

table thead th code.highlighter-rouge {
    background-color: red;
}


.box {
    padding: 10px;
    border: 1px solid #888;
    width: 100px;
    height: 80px;
    background-color: #f5f5f5;
    font-family: Arial;
    font-size: 12px;
    hyphens: auto;
    float: left;
    font-size: 12px;
}

.box:hover {
    background-color: #f0f0f0;
}

#userMap {
    overflow-x: auto;
    overflow-y: auto;
    padding: 20px;
    min-width: 770px;
}

#userMap .active {
    background-color: #d6f5d6;
    border: 1px solid #555;
    font-weight: bold;
}

h2.userMapTitle {
    font-family: Arial;
}

#userMap a:hover {
    text-decoration: none;
}

div.arrow {
    left: 50% !important;
    font-size: 20px;
}

div.content {
    max-width: 110px
}

#userMap div.arrow,
#userMap div.content {
    float: left;
}

.clearfix {
    clear: both;
}


#userMap div.arrow {
    position: relative;
    top: 30px;
}

.box1 {
    margin-left: 0px;
}

div.box.box1 {
    margin-left: -20px;
}

#userMap .btn-lg {
    width: 100px;
    height: 80px;

}

#userMap .complexArrow {
    font-size: 22px;
    margin: 0px 10px;
}


#userMap .btn-lg .active {
    background-color: #d6f5d6;
}

#userMap .btn-lg {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    font-size: 14px;
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
    width: 100%;
}

/* 2 */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }

    a img {
        max-width: 20%;
    }
}

h4.panel-title {
    padding-top: 0px;
    margin-top: 0px;
}

/*set navbar breakpoint so that it converts to hamburger earlier */

/*
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
*/

.resume-link {
    color: var(--tw-white);
    font-weight: normal;
    font-size: 100%;
    background: rgba(0, 0, 0, 0.8);
    ;
    padding: 10px;
    border-radius: 5px;
}

.resume-link:hover {
    color: var(--tw-white);
    box-shadow: 0 0 3px var(--tw-gray);
    font-weight: normal;
    font-size: 100%;
    background: var(--tw-black);
    padding: 10px;
    border-radius: 5px;
}


/* navgoco sidebar styles (customized) */
.nav,
.nav ul,
.nav li {
    list-style: none;
}

.nav ul {
    padding-right: 10px;
    /*margin: 0 0 0 18px;*/
    margin-left: 0px;
}

.nav {
    /* padding: 4px;*/
    padding-bottom: 8px;
    margin: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);


}

.nav>li {
    margin: 2px 0;
}

.nav>li li {
    margin: 2px 0;
}

/* arrows for the left sidebar */
.nav li>a>span {
    float: left;
    color: var(--tw-black);
    font-size: 15px;
    font-weight: bolder;
    padding-right: 10px;
}

.nav li>a>span:after {
    content: '\25be';
}

.nav li.active>a>span:after {
    content: '\25b4';
}

.nav a:hover,
.nav li.active>a {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--tw-white);
    display: block;
}


.nav li a {
    font-size: 12px;
    border-radius: 5px;
    line-height: 20px;
    padding: 4px 0px;
    background-color: transparent;
    color: black;
}

ul#mysidebar {
    position: fixed;


}

.nav ul li ul li a {
    padding-left: 0px;
}

/* Third level nav
.nav li.thirdlevel > a {
    color: black;
    font-weight:bold;
    padding-left:20px;
    background-color: whitesmoke !important;
}

.nav a {
    color: #333;
    display: block;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}

*/

.nav ul li a {
    background-color: transparent;
    margin-left: -40px !important;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 30px;
}

.nav li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--tw-white);
}

/* end sidebar */


.blog-home-body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.blog-home-intro-column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.blog-home-row::after {
    content: "";
    display: table;
    clear: both;

}

.blog-container {
    background-color: var(--tw-white);
    display: flex;
    border-radius: 8px;
    margin-left: 25%;
    margin-top: 80px;
    margin-right: 25%;
    padding-left: 0%;
    padding-right: 0%;
}

.blog-content {
    color: var(--tw-black);
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 0%;
    min-width: 100%;
}




.blog-hero-image {
    min-width: 100%;
    padding-left: -10%;
    margin-top: -10%;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 8px 8px;
}

.blog-post {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.featured {
    display: block;
    text-align: center;
    animation: fadeIn ease 2;
    padding-bottom: 15px;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.more-posts {
    background-color: var(--tw-black);
    padding-bottom: 10%;
}