<div class="other-posts">
    <h2>Tech Writing Collection</h2>
</div>

<hr />

<div class="row-blog">
    <div class="column-blog-tech">
        <div class="card-tech">
            <a href="/docs-as-code.html">
                <img class="card-image-tech" src="/images/code.png" alt="Code image" >
            </a>
            <div class="container-blog">
                <a href="/docs-as-code.html">
                    <h4><b>Docs as Code</b></h4>
                </a>
                    <p>It's 2020, tech docs should be written, published, and maintained like code...</p>
            </div>
        </div>
    </div>

    <div class="column-blog-tech">
        <div class="card-tech">
            <a href="/hbo-mmc">
                <img class="card-image-tech" src="/images/essentials.jpeg" alt="Essentials image" >
            </a>
            <div class="container-blog">
                <a href="/hbo-mmc">
                    <h4><b>Technical Writing Essentials</b></h4>
                </a>
                    <p>Many aspiring TWs aren't sure how to get into the industry. This post provides some
                    essential tools and knowledge...</p>
            </div>
        </div>
    </div>


    <div class="column-blog-tech">
        <div class="card-tech">
            <a href="/gitlab.html">
                <img class="card-image-tech" src="/images/ux.png" alt="UX guy" >
            </a>
            <div class="container-blog">
                <a href="/gitlab.html">
                    <h4><b>Technical Editing</b></h4>
                </a>
                    <p>Lesson: Fresh fish sold here...</p>
            </div>
        </div>
    </div>
</div>
      
