<footer>
<div class="footer-intro">

    <a class="btn" target="_blank" href="http://github.com/mr7brown">
      <i class="fa fa-github fa-2x" style="color: white"></i>
   </a>
	<a class="btn" target="_blank" href="http://www.linkedin.com/in/ashton-brown-mba-6000238a/">
      <i class="fa fa-linkedin fa-2x" style="color: white"></i>
   </a>
   <a class="btn" target="_blank" href="mailto:ashtonbrownmba@gmail.com">
      <i class="fa fa-envelope fa-2x" style="color: white"></i>
   </a>
   <br /> 
   &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.
</div>
</footer>
