<footer>
   <div class="row">
      <div class="col-lg-12 footer">
         &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br /> <br />
         <a class="btn" href="http://www.linkedin.com/in/ashton-brown-mba-6000238a/">
         <i class="fa fa-linkedin fa-2x" style="color: var(--tw-black)"></i></a>
         
         <a class="btn" href="http://github.com/mr7brown">
         <i class="fa fa-github fa-2x" style="color: var(--tw-black)"></i></a>
         
         <a class="btn" href="mailto:ashtonbrownmba@gmail.com">
         <i class="fa fa-envelope fa-2x" style="color: var(--tw-black)"></i></a>
      </div>
   </div>
</footer>

