<div class="other-posts">
    <h2>Git Collection</h2>
</div>

<hr />

<div class="row-blog">
    <div class="column-blog-tech">
        <div class="card-tech">
           <a href="/git.html"> 
                <img class="card-image-tech" src="/images/octocat-1.jpeg" alt="Git image" >
            </a> 
            <div class="container-blog">
              <a href="/git.html"> 
                    <h4><b>Git Overview</b></h4>
                 </a>
                    <p>By the end of this post you will have a good conceptual model for Git/Github...</p>
            </div>
        </div>
    </div>

    <div class="column-blog-tech">
        <div class="card-tech">
        
            <a href="/git-getting-started.html"> 
                <img class="card-image-tech" src="/images/octocat-2.jpeg" alt="Git branch" >
              </a> 
            <div class="container-blog">
                <a href="/git-getting-started.html"> 
                    <h4><b>Getting Started w/ Git</b></h4>
                 </a>
                    <p>Here you will create a local/remote repository and begin pushing commits...</p>
            </div>
        </div>
    </div>

    <div class="column-blog-tech">
        <div class="card-tech">
            <a href="/git-advanced.html"> 
                <img class="card-image-tech" src="/images/octocat-chalk.jpeg" alt="Octocat" >
             </a> 
            <div class="container-blog">
               <a href="/git-advanced.html"> 
                    <h4><b>Branching and Merging</b></h4>
                  </a> 
                    <p>Practice branching and merging like you would for an actual project...</p>
            </div>
        </div>
    </div>
</div>
      
<div class="row-blog">
    <div class="one-column-blog-tech">
        <div class="card-tech-1">
           <a href="/git-master.html"> 
                <img class="card-image-tech" src="/images/git-masterr.jpeg" alt="Git image" >
            </a> 
            <div class="container-blog">
              <a href="/git-master.html"> 
                    <h4><b>Mastering Git</b></h4>
                 </a>
                    <p>Learn some useful shortcuts & best practices...</p>
            </div>
        </div>
    </div>
</div>
      