<!-- Navigation -->
<div class="header-intro">
    <div class="topnavlinks">
            
            <a href="index.html"><img class="navlogo" alt="ab logo" src="images/faviconlll.ico"></a>
            
            <a class="introlink" alt="resume link" target="_blank" href="http://drive.google.com/file/d/1DoY6JJZaSlv6UbdbyYUnKd-CrQWhh0we/view?usp=sharing">Resume</a>
            <a class="introlink" alt="style guide link" href="/style_intro.html">Style Guide</a>
          <!--
            <a class="introlink" alt="blog link" href="/tech-blog.html">Blog</a>
            -->
           
            <a class="introlink" alt="portfolio link" href="/portfolio.html">Portfolio</a>
        
            
           
        </div>
          
</div>
