<!-- Navigation -->
<div class="header-intro-white">
    <div class="topnavlinks">
            
            <a href="index.html"><img class="navlogo" alt="ab logo" src="images/favicon.ico"></a>
            
            <a class="intro-link" alt="resume link" target="_blank" href="http://drive.google.com/file/d/1DoY6JJZaSlv6UbdbyYUnKd-CrQWhh0we/view?usp=sharing">Resume</a>
            <a class="intro-link" alt="style guide link" href="/style_intro.html">Style Guide</a>
            <!-- comment out
            <a class="intro-link" alt="blog link" href="/tech-blog.html">Tech Blog</a>
           -->
            <a class="intro-link" alt="portfolio link" href="/portfolio.html">Portfolio</a>
        
            
           
        </div>
          
</div>
