<div class="other-posts">
    <h2>Linux/OSX Collection (COMING SOON)</h2>
</div>

<hr />

<div class="row-blog">
    <div class="column-blog-tech">
        <div class="card-tech">
            <!-- <a href="/vb-linux.html"> -->
                <img class="card-image-tech" src="/images/linux.png" alt="Linux flat image" >
            <!-- </a> -->
            <div class="container-blog">
                <!-- <a href="/vb-linux.html"> -->
                    <h4><b>Linux Set Up Using Virtual Box (MacOS)</b></h4>
                <!-- </a> -->
                    <p>Linux is an awesome OS, but it can be tricky installing it if you're a NOOB...</p>
            </div>
        </div>
    </div>

    <div class="column-blog-tech">
        <div class="card-tech">
            <!-- <a href="/vb-linux.html"> -->
                <img class="card-image-tech" src="/images/and.png" alt="Linux SUDO" >
            <!-- </a> -->
            <div class="container-blog">
                <!-- <a href="/vb-linux.html"> -->
                    <h4><b>Linux Commands (Beginner)</b></h4>
                <!-- </a> -->
                    <p>This post provides some of the commands I use everyday, as well as some others that are useful to know...</p>
            </div>
        </div>
    </div>


    <div class="column-blog-tech">
        <div class="card-tech">
            <!-- <a href="/vb-linux.html"> -->
                <img class="card-image-tech" src="/images/sudo.jpg" alt="And command" >
            <!-- </a> -->
            <div class="container-blog">
                <!-- <a href="/vb-linux.html"> -->
                    <h4><b>Linux Commands (Advanced)</b></h4>
                <!-- </a> -->
                    <p>With the basics covered, we can learn how to creates aliases, custom scripts,
                    and automations...</p>
            </div>
        </div>
    </div>
</div>
      
