<div class="other-posts">
    <h2>All Technical Writing Docs</h2>
</div>

<div class="bottom-nav">

                    <hr />
                    <b>Introduction:</b>
                    <a href="/portfolio.html">Home</a>

                    <hr />

                    <hr />
                    <b>Developer Documentation:</b>
                    <a href="/release.html">HBO - Release Notes</a>
                    <a href="/gitlab.html">HBO - GitLab Set up</a>
                    <a href="/google-rpi3.html">Google - Raspberri Pi Set Up</a>
                    <a href="/google-developer.html">Google - Developer Account Configuration</a>
                    <a href="/google-sdk.html">Google - SDK </a>
                    <hr />

                    <hr />
                    <b>Technical Specifications:</b>
                    <a href="/hbo-mmc.html">HBO - Media Manifest Metadata</a>
                    <a href="/hbo-sdr.html">HBO - Licensed Content (SDR)</a>
                    <hr />

                    <hr />
                    <b>End User Documentation:</b>
                    <a href="/aml.html">Anti-Money Laundering</a>
                    <a href="/fb-deployment.html">Facebook - New Builds Deployment Process</a>
                    <a href="/fb-programming.html">Facebook - Programming</a>
                    <hr />

                    <hr />
                    <b>Informative Docs:</b>
                    <a href="/fb-pulse-career.html">Facebook - Career Growth</a>
                    <a href="/fb-pulse-strengths.html">Facebook - Leveraging Strengths</a>
                    <hr />

                    </div>

