<div class="other-posts">
    <h2>Latest Posts</h2>
</div>
<hr />

<div class="row-blog">

<div class="column-blog">
                <div class="card">
                    <a href="/release.html">
                    <img class="card-image" src="/images/hbo_max.jpg" alt="Avatar" >
                    </a>
                <div class="container-blog">
                    <a href="/release.html">
                    <h4><b>HBO Max Partner Hub Release Notes</b></h4>
                    </a>
                    <p>This page represents the new template for release notes sent to partners. The page is not reflective
                    of an actual release note, just the UI/UX behind the new notification process....</p>
                </div>
                </div>
                </div>

                <div class="column-blog">
                <div class="card">
                    <a href="/gitlab.html">
                    <img class="card-image" src="/images/hbo-max.jpeg" alt="HBO Max" >
                    </a>
                <div class="container-blog">
                    <a href="/gitlab.html">
                    <h4><b>HBO GitLab Set Up</b></h4>
                    </a>
                    <p>This guide provides instructions for establishing a connection with the GitLab repo for the Partner Hub., which
                    houses HBO Max specifications and guidelines...</p>
                </div>
                </div>
                </div>
            
                </div>
