 <div class="other-posts">
    <h2>Latest Posts</h2>
</div>
<hr />

<div class="row-blog">
                <div class="column-blog">
                <div class="card">
                    <a href="/inclusive_content.html">
                    <img class="card-image" src="/images/inclusive.png" alt="Inclusive Content" >
                    </a>
                <div class="container-blog">
                    <a href="/inclusive_content.html">
                    <h4><b>Writing Inclusive Content</b></h4>
                    </a>
                    <p>Now more than ever it is important to develop content that is inclusive of all people. This guideline provides
                    information on some simple ways to improve your writing by being inclusive...</p>
                </div>
                </div>
                </div>

                <div class="column-blog">
                <div class="card">
                    <a href="/ux-guidelines.html">
                    <img class="card-image" src="/images/writing.png" alt="Inverted Pyramid" >
                    </a>
                <div class="container-blog">
                    <a href="/ux-guidelines.html">
                    <h4><b>General Organization & UX Guidelines</b></h4>
                    </a>
                    <p>With so much information on the internet it is easy to gte lost searching for answers. To help your users and reduce
                    the cognitive burden, there are a few practices that can be employed...</p>
                </div>
                </div>
                </div>
                </div>
