<div class="other-posts">
                   
                        <h2>All Style Guide Docs</h2>
                    </div>

<div class="bottom-nav">

                    
    
                    <hr />
                    <b>Introduction:</b>
                    <a href="/style_intro.html ">Home</a>

                    <hr />

                    <hr />
                    <b>General Guidelines:</b>
                    <a href="/accessibility.html">Accessibility</a>
                    <a href="/inclusive_content.html">Inclusive Content</a>
                    <a href="/style.html">Style and Tone</a>
                    <hr />

                    <hr />
                    <b>Grammar:</b>
                    <a href="/anthropomorphism.html">Anthropomorphism</a>
                    <a href="/capitalization.html">Capitalization</a>
                    <a href="/cross-references.html">Links and Cross References</a>
                    <a href="/tense.html">Present Tense</a>
                    <a href="/second_person.html">Second Person</a>
                    <a href="/spelling.html">Spelling</a>
                    <hr />

                    <hr />
                    <b>Organization & UX:</b>
                    <a href="/consistency.html">Consistency</a>
                    <a href="/ux-guidelines.html">General Guidelines</a>
                    <hr />

                    <hr />
                    <b>Other:</b>
                    <a href="/resources.html">Resources</a>
                    <hr />

</div>

