<div class="other-posts">
    <h2>Tech Writing Collection</h2>
</div>

<hr />

<div class="row-blog">

<div class="column-blog-tech">
        <div class="card-tech">
            <a href="/tw-meditations.html">
                <img class="card-image-tech" src="/images/flat-ash.jpeg" alt="UX guy" >
            </a>
            <div class="container-blog">
                <a href="/tw-meditations.html">
                    <h4><b>Technical Writing Meditations</b></h4>
                </a>
                    <p>A light post on how I got into Technical Writing and why you should too...</p>
            </div>
        </div>
    </div>

    <div class="column-blog-tech">
        <div class="card-tech">
            <a href="/docs-as-code.html">
                <img class="card-image-tech" src="/images/code.png" alt="Code image" >
            </a>
            <div class="container-blog">
                <a href="/docs-as-code.html">
                    <h4><b>Docs as Code</b></h4>
                </a>
                    <p>It's 2020, tech docs should be written, published, and maintained like code...</p>
            </div>
        </div>
    </div>

    <div class="column-blog-tech">
        <div class="card-tech">
            <a href="/tw-architecture.html"> 
                    <img class="card-image-tech" src="/images/editing.jpeg" alt="Avatar" >
                    </a>
            <div class="container-blog">
                <a href="/tw-architecture.html"> 
                    <h4><b>Information Architecture</b></h4>
                 </a>
                    <p>Thoughts on Knowledge Bases, CMSs, and Static Sites...</p>
            </div>
        </div>
    </div>
</div>


<div class="row-blog">
    <div class="one-column-blog-tech">
        <div class="card-tech-1">
           <a href="/tw-essentials">
                <img class="card-image-tech"
                 src="/images/essentials.jpeg" alt="Essentials image" >
            </a>
            <div class="container-blog">
              <a href="/tw-essentials">
                    <h4><b>Technical Writing Essentials</b></h4>
                </a>
                    <p>Many aspiring TWs aren't sure how to get into the industry. This post provides some
                    essential tools and knowledge...</p>
            </div>
        </div>
    </div>
</div>
