<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {% include head.html %}
</head>
<body class="body-2">
<header>
    {% include header.html %}
</header>
<div id="mainContent">

	<div class="content-block no-image with-overflow">
        
    </div>
    
	<div class="content-block post-view">
    
		<div class="content-wrapper">
        <div class="caption-blog">
        <h1>Welcome to The Pulse</h1>
        </div>
			<article class="post">
				<div class="post-text">
                <div class="row-blog">
                <div class="column-blog">
                <div class="card">
                    <a href="/socioeconomic-reform.html">
                    <img class="card-image" src="/images/civil-2020.jpg" alt="Avatar" >
                    </a>
                <div class="container-blog">
                    <a href="/socioeconomic-reform.html">
                    <h4><b>Meditations on Education and the Importance of Socioeconomic Reform</b></h4>
                    </a>
                    <p>It’s 2020, much of the world has been in lockdown for the better part of four months, and the United States is
                    burning. How did we get here...</p>
                </div>
                </div>
                </div>

                <div class="column-blog">
                <div class="card">
                    <a href="/blm">
                    <img class="card-image" src="/images/earth.png" alt="Avatar" >
                    </a>
                <div class="container-blog">
                    <a href="/blm">
                    <h4><b>8:46</b></h4>
                    </a>
                    <p>On May 25th, 2020 a black man by the name of George Floyd was murdered when a white police officer (Derek Chauvin)
                    knelt on Floyd's neck for 8 minutes and 46 seconds...</p>
                </div>
                </div>
                </div>
                </div>

        
                <div class="shadow"></div>
                </div>
					
				</div>
                
</div>

<div class="spacer-transparent"></div> 


</div>
<footer>
{% include footer-blog-post.html %}
</footer>
</body>

{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}

</html>

