<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {% include head.html %}
</head>
<header>
    {% include header.html %}
</header>

<body class="body-blog"><script src="/js/flickity.js"></script>

<!-- Heading Automatic images  -->

<div class="carousel-2" data-flickity='{ "autoPlay": true, "contain": true, "initialIndex": 0, "imagesLoaded": true, "pageDots": true, "percentPosition": false, "wrapAround": true, "freeScroll": false }'>
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/business-casual-hero.png" alt="News Hero Image" />
        </a>
    <div class="bottom-left">Loss of Culture in the Workplace</div>
    </div>
<div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/markdown.png" alt="Markdown Image" />
        </a>
    <div class="bottom-left">Introduction to Markdown</div>
    </div>    
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/race-hero.png" alt="Blackish Image" />
        </a>
    <div class="bottom-left">What are You?</div>
    </div>
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/osx-terminal.png"  alt="OSX Terminal Image" />
        </a>
    <div class="bottom-left">Introduction to the Terminal >_</div>
    </div>
    </div>
</div>

<!-- Second Row -->

<div class="blog-section-heading">
        <h2>The Pulse </h2>
            <p>Social issues and meditations</p>
    </div>
    
<div class="carousel-2" data-flickity='{ "prevNextButtons": true, "contain": false, "autoPlay": false, "contain": true, "initialIndex": 0, "imagesLoaded": true, "pageDots": true, "percentPosition": false, "wrapAround": true, "freeScroll": false }'>
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/civil-hero.png" alt="Civil Image" />
        </a>
    <div class="bottom-caption">Civil Disobedience in 2020</div>
    </div>    
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/news-story.png" alt="News Image" />
        </a>
        <div class="bottom-caption">Rethinking the 24/7 News Cycle</div>
    </div>
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/race-story.png" alt="What are You Image" />
        </a>
    <div class="bottom-caption">What are You?</div>
    </div>
<div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/business-casual-story.png" alt="Workplace Culture Image" />
        </a>
    <div class="bottom-caption">Loss of Culture in the Workplace</div>
    </div>
</div>

<!-- Third Row -->

<div class="blog-section-heading">
        <h2>Getting Started with <code>code</code> </h2>
            <p>Some tips to get started with programming</p>
    </div>
    
<div class="carousel-2" data-flickity='{ "autoPlay": false, "contain": true, "initialIndex": 0, "imagesLoaded": true, "pageDots": true, "percentPosition": false, "wrapAround": true, "freeScroll": false }'>
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/osx-terminal.png" alt="Introduction to the Terminal >_" />
        </a>
    <div class="bottom-left">Introduction to the Terminal >_</div>
    </div>
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/git.png" alt="Markdown Image" />
        </a>
    <div class="bottom-left">Introduction to Git</div>
    </div>
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/css.png" alt="CSS Image" />
        </a>
    <div class="bottom-left">Thoughts on Organizing CSS Files</div>
    </div>
    <div class="carousel-cell-2">
        <a href="/">
        <img class="carousel__natural-image-2"src="/images/markdown.png"  alt="OSX Terminal Image" />
        </a>
    <div class="bottom-left">Introduction to Markdon</div>
    </div>
    </div>
</div>

<div class="spacer"></div>  
</body>
 {% include footer-2.html %}
</html>

