<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {% include head.html %}
</head>
<header>
    {% include header.html %}
</header>

<body class="body-blog"><script src="/js/flickity.js"></script>



<!--
<div class="blog-feature-text">
	<h2 class="test-text">Featured Posts</h2>
	</div>
</div> 

-->




<!-- Heading Automatic images  -->

<div class="carousel-2" data-flickity='{ "autoPlay": true, "contain": true, "initialIndex": 0, "imagesLoaded": true, "pageDots": true, "percentPosition": false, "wrapAround": true, "freeScroll": false }'>
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/business-casual-hero.png" alt="News Hero Image" />
        </a>
    <div class="bottom-left"><h2>Loss of Culture in the Workplace</h2></div>
    </div>
<div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/markdown.png" alt="Markdown Image" />
        </a>
    <div class="bottom-left"><h2>Introduction to Markdown</h2></div>
    </div>    
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/race-hero.png" alt="Blackish Image" />
        </a>
    <div class="bottom-left"><h2>What are You?</h2></div>
    </div>
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/osx-terminal.png"  alt="OSX Terminal Image" />
        </a>
    <div class="bottom-left"><h2>Introduction to the Terminal >_</h2></div>
    </div>
    </div>
</div>

<!-- Second Row -->

<div class="blog-section-heading">
        <h1>The Pulse </h1>
            <p>Social issues and meditations</p>
    </div>
    
<div class="carousel-2" data-flickity='{ "prevNextButtons": true, "contain": false, "autoPlay": false, "contain": true, "initialIndex": 0, "imagesLoaded": true, "pageDots": true, "percentPosition": false, "wrapAround": true, "freeScroll": false }'>
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/civil-hero.png" alt="Civil Image" />
        </a>
    <div class="bottom-left"><h2>Civil Disobedience in 2020</h2></div>
    </div>    
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/news-story.png" alt="News Image" />
        </a>
        <div class="bottom-left"><h2>Rethinking the 24/7 News Cycle</h2></div>
    </div>
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/race-story.png" alt="What are You Image" />
        </a>
    <div class="bottom-left"><h2>What are You?</h2></div>
    </div>
<div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/business-casual-story.png" alt="Workplace Culture Image" />
        </a>
    <div class="bottom-left"><h2>Loss of Culture in the Workplace</h2></div>
    </div>
</div>

<!-- Third Row -->

<div class="blog-section-heading">
        <h1>Getting Started with <code>code</code></h1>
            <p>Some tips to get started with programming</p>
    </div>
    
<div class="carousel-2" data-flickity='{ "autoPlay": false, "contain": true, "initialIndex": 0, "imagesLoaded": true, "pageDots": true, "percentPosition": false, "wrapAround": true, "freeScroll": false }'>
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/osx-terminal.png" alt="Introduction to the Terminal >_" />
        </a>
    <div class="bottom-left"><h2>Introduction to the Terminal >_</h2></div>
    </div>
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/git.png" alt="Markdown Image" />
        </a>
    <div class="bottom-left"><h2>Introduction to Git</h2></div>
    </div>
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/css.png" alt="CSS Image" />
        </a>
    <div>Thoughts on Organizing CSS Files</div>
    </div>
    <div class="carousel-cell-2">
        <a href="/new">
        <img class="carousel__natural-image-2"src="/images/markdown.png"  alt="OSX Terminal Image" />
        </a>
    <div class="bottom-left"><h2>Introduction to Markdown</h2></div>
    </div>
    </div>
</div>

<div class="spacer"></div>  
</body>
 {% include footer-blog-post.html %}
</html>

