<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {% include head.html %}
</head>
<body class="body-2">
<header>
 {% include header-2.html %}
</header>

    <div id="about-me">
        <h1>Technical Writer, Documentation Engineer, and Developer</h1>
        <p>I simplify technical information and I code sites like this one.</p>
        <img src="/images/me.png">
    </div>
    <div class="about-interstitial">
    <div class="about-container">
        <h2>Hello World, I'm Ashton. Welcome to my site.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas congue quisque egestas diam in arcu cursus euismod. Turpis tincidunt id aliquet risus feugiat in ante metus. Libero volutpat sed cras ornare arcu dui vivamus. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. </p>
    </div>
    </div>
    <div class="about-post">
    <div class="content-block post-view">
		<div class="content-wrapper">
			<article class="post">

				<div class="post-text">

					{{ content}}

            
                

                </div>
                
                <div class="shadow"></div>
                
                </div>
                
				</div>
				</div>



</body>

<footer>

</footer>

