<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {% include head.html %}
</head>
<header>
    {% include header-blog.html %}
</header>

<body class=body-blog><script src="/js/flickity.js"></script>

<!-- Heading Automatic images -->
    
<div data-flickity='{ "initialIndex": 0,"imagesLoaded": true, "percentPosition": false, "wrapAround": true, "autoPlay": true, "freeScroll": false }'}'>
<img src="/images/git.png" alt="orange tree" />
        <img src="/images/race-hero.png" alt="orange tree" />
        <img src="/images/markdown.png" alt="orange tree" />
        <img src="/images/news-hero.png" alt="orange tree" />
        <img src="/images/osx-terminal.png" alt="orange tree" />
        <img src="/images/civil-hero.png" alt="orange tree" />
    </div>
 
    <!-- First row of stories -->

    <div class="blog-section-heading">
         <h2>The Pulse</h2>
            <p>Social issues and meditations</p>
    </div>
    <div class="blog-section-heading">
    <div class="carousel-3" data-flickity='{ "prevNextButtons": false,"contain": true, "initialIndex": 0, "percentPosition": false, "imagesLoaded": true, "pageDots": false, "wrapAround": false, "freeScroll": false }'>
        <img src="/images/news-story.png" alt="orange tree" />
        <img src="/images/race-story.png" alt="orange tree" />
        <img src="/images/civil-story.png" alt="orange tree" />
    </div>
    </div><p class="caption"></p>

    <!-- Second row of stories -->
    
    <div class="blog-section-heading">
        <h2>Getting Started with <code>code</code> </h2>
            <p>Some tips to get started with programming</p>
    </div>
    <div class="blog-section-heading">
    <div class="carousel-2" data-flickity='{ "contain": true, "initialIndex": 0, "imagesLoaded": true, "pageDots": true, "percentPosition": false, "wrapAround": true, "freeScroll": false }'>
        <img src="/images/osx-terminal.png" alt="orange tree" />
        <img src="/images/git.png" alt="orange tree" />
        <img src="/images/css.png" alt="orange tree" />
        <img src="/images/markdown.png" alt="orange tree" />
    </div>










<!-- Third row of stories 

    <div class="blog-section-heading">
         <h2>The Pulse</h2>
            <p>Social Issues & the Numbers.</p>
    </div>
    <div class="blog-section-heading">
    <div class="carousel-2" data-flickity='{ "contain": true, "initialIndex": 0, "imagesLoaded": true, "pageDots": false, "percentPosition": false, "wrapAround": true, "freeScroll": true }'>
        <img src="/images/test-2.jpeg" alt="orange tree" />
        <img src="/images/test-3.jpg" alt="orange tree" />
        <img src="/images/test-2.jpeg" alt="orange tree" />
        <img src="/images/test-2.jpeg" alt="orange tree" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
    </div>
    </div>
    -->
<div class="spacer"></div>  
</body>
 {% include footer-2.html %}
</html>

